<div class="hp-outer" id="hp-outer">
  <div class="hp-middle">
    <div class="hp-inner">

      <div id="search-input-wrapper">
        <div class="col-lg-6 search-form col-centered" id="search-input">
          <form>
            <div class="col-lg-12">
              <div class="form-group">
                <h1 id="hp-heading">Find. Go. Enjoy.</h1>
                <input class="form-control" type="text" placeholder="Find anything around you..." value="" name="search[term]" autofocus>
                <button type="submit" class="btn btn-success pull-right" disabled="disabled">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
<script>
// TODO: zjistit magickou konstantu :-)
    document.getElementById("hp-outer").style.height = (window.innerHeight-63-45-7).toString() + 'px';
    console.log(window.innerHeight);
</script>
