<div id="search-input-wrapper">
  <div class="col-lg-6 search-form col-centered" id="search-input">
    <form>
      <div class="col-lg-9">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Find anything around you..." value="" name="search[term]" autofocus>
        </div>
      </div>
      <div class="col-lg-3">
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
</div>
