<div class="hp-outer" id="hp-outer">
  <div class="hp-middle">
    <div class="hp-inner">

      <div id="search-input-wrapper">
        <div class="col-lg-6 search-form col-centered" id="search-input">
          <form>
            <div class="col-lg-12">
              <div class="form-group">
                <h1 id="hp-heading"><span class="colored">Anything</span> near me</h1>
                <input class="form-control" type="text" placeholder="I am looking for..." value="" name="search[term]" autofocus>
                <button type="submit" class="btn btn-success pull-right" disabled="disabled">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
    navihub_set_elem_autoheight("hp-outer");
</script>
