<%= render 'input' %>
<h1 class="text-center hp-lead-h1">The geolocation service that doesn't track you</h1>
<p class="hp-lead">
    Explore your neighborhood for new restaurants. Plan a route to the nearest water park. Look for a nearby café. Find the nearest post office. All this using our geolocation services hub.
</p>
<p class="hp-lead">
    We collect data from different sources and serve it to you. Privately and anonymously. We don’t collect or require any personal information. And we don’t share anything with anyone else.
</p>
<p class="hp-lead">
    <%= link_to 'Learn more', '/pages/about', data: { no_turbolink: true } %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Infographics', '/blog/how-does-navihub-work-our-first-infographics', data: { no_turbolink: true } %>
</p>
