<div id="search-results" class="favorites-start">
  <div class="text-center">
    <p>You haven't added any favorites yet, <%= link_to 'search something', controller: 'search', action: 'index' %> first.
      <br />
      <br />
      <%= link_to image_tag('resources/favorites-howto_v2.jpg', size: '320x284', class: 'p-img img-border-1px'), controller: 'search', action: 'index' %>
    </p>
    <p>
      <br />
      Add some favorite places by clicking on the golden star under each search result, like on the image above.
    </p>
  </p>

</div>
</div>
