<% if (@data[:data][:params][:offset] + @data[:data][:params][:limit]) < @data[:data][:total_cnt] %>
<div class="col-lg-12 load-more text-center">
    <button class="btn btn-warning" data-params="<%= @request_params %>">
        Show next <%= @data[:data][:params][:step] %> results
    </button>
</div>
<% end %>
