<a title="Open detail" class="list-open-detail-eye" href="#" data-no-turbolink="true"><%= fa_icon("eye") %></a>
<!-- <a title="Show route" class="list-show-route" href="#"><%= fa_icon("map-o") %></a> -->
