<div class="geometry-wrapper location-wrapper">
    <div title="Place address" class="autotooltip results-icon"><%= fa_icon("map-marker") %></div>
    <% if result[:address] %>
        <%= result[:address] %>
    <% else %>
        <i class="fa fa-frown-o"></i>
    <% end %>
</div>
