<div class="geometry-wrapper">
    <div class="col-lg-12 result-address">
        <div class="results-icon"><%= fa_icon("map-marker") %></div>
        <% if result[:address] %>
            <%= result[:address] %>
        <% else %>
            <i class="fa fa-frown-o"></i>
        <% end %>
    </div>
</div>
