<div class="distance-wrapper">
    <% if result[:distance] != nil %>
    <div class="result-subcol result-distance">
        <span class="tablet-autohide">Is </span>
        <span class="strong"><%= DistanceHelper.pretty_distance(result[:distance], result[:distance_unit], 'km', true) %></span>
        <span class="tablet-autohide"> away.</span>
    </div>
    <span class="tablet-autohide">It will take you </span>
    <div class="result-subcol result-walking-distance">
        <span class="strong"><%= DistanceHelper.pretty_minutes(DistanceHelper.m_to_min(result[:distance]), true) %></span>
    </div>
    <span class="tablet-autohide"> to get there by foot or </span>
    <div class="result-subcol result-car-distance">
        <span class="strong"><%= DistanceHelper.pretty_minutes(DistanceHelper.car_m_to_min(result[:distance]), true) %></span>
    </div>
    <span class="tablet-autohide"> to get there by car.</span>
    <% end %>
</div>
