<div class="geometry-wrapper location-wrapper">
    <% if result[:address] %>
        <span class="tablet-autohide">Located at </span>
        <div class="inline strong">
            <%= result[:address] %></div><span class="tablet-autohide">.</span>
    <% else %>
        <i class="fa fa-frown-o"></i>
    <% end %>
</div>
