<%= render 'form' %>
<%= render 'hr' %>
<div id="search-results" class="search-start">
  <div class="text-center text-search">
    <p>Start by typing any word in the search box above.</p>
  </div>
</div>
