<div id="search-results-lazy">
  <div class="text-center">
      <h1>Loading the goodies</h1>
      <p style="min-height: 500px;">Stay tuned.</p>
  </div>
</div>
<script>
    navihub_set_elem_autoheight("search-results-lazy");
</script>
