<div class="col-lg-12 col-source">
    <hr>
    <p class="text-center">
        These informations were provided with the help of:<br />
        <%= image_tag 'powered-by/' + @data[:origin] + '@2x.png', class: "powered-by-icon", title: "data loaded using " + @data[:origin].upcase + " API", onload: "this.width/=2;this.onload=null;" %>
    </p>
</div>
