<div class="col-lg-12 text-center col-permalink">
    <p class="text-center">
        <b>Tip:</b> Save this page for later, <a href="#" class="btn-permalink">make yourself a permalink</a>.
    </p>
</div>
