<div class="col-lg-12">
  <hr>  
</div>
<div id="search-results">
  <div class="text-center">
    <h1>:-(</h1>
    <p>An error has occured while loading details for "<%= @data[:origin].to_s + ' # ' + @data[:id].to_s %>"</p>
  </div>
</div>

