<div id="detail-results-lazy">

    <div class="col-lg-12">
      <hr>
    </div>
    <div id="search-results">
      <div class="text-center">
        <h1>Loading the goodies</h1>
        <p style="min-height: 500px;">Stay tuned.</p>
      </div>
    </div>

</div>
<script>
    navihub_set_elem_autoheight("detail-results-lazy");
</script>
