<h1>Set your location</h1>
<p>
<form class="form-horizontal" id="settings-location">
  <fieldset>
    <input autofocus id="settings-location-autocomplete" class="form-control" type="text" placeholder="Enter a location">
    <div id="settings-location-canvas"></div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <div class="col-lg-2 col-lg-offset-10 pull-right">
        <button class="btn btn-default autodetect-button">Autodetect</button>
        <button type="submit" class="btn btn-success" id="settings-location-save">Save</button>
      </div>
    </div>
  </fieldset>
</form>
</p>
