<div class="jumbotron error text-center">
    <h1>Oh crap !</h1>
    <p>We are sorry, but <b>the page you requested was not found</b>. (Yes, it's 404)</p>
    <p>URL requested: <a href="<%= request.original_url %>"><%= request.original_url %></a></p>
    <p class="btns">
        <a href="/" class="btn btn-primary">Return to homepage</a>
        <a href="mailto:hello@navihub.net?subject=Broken link: <%= request.original_url %>" class="btn btn-default">Report broken link</a>
    </p>
</div>
