<div id="error-page">
    <h1>
        Ouch  :-(
    </h1>
    <p>
        <b>We're sorry, but something went wrong.</b>
    </p>
    <p>There has been an internal server error and the magic number is <b>500</b>.</p>
    <p>
        URL with error: <a href="<%= request.original_url %>"><%= request.original_url %></a>
    </p>
    <p>
        Please try your request later. If the problem persists, write us an <a href="mailto:hello@navihub.net?subject=Angry e-mail">angry e-mail</a>.
    </p>
    <p class="btns">
        <a href="mailto:hello@navihub.net?subject=Server error at <%= request.original_url %>" class="btn btn-success">Report server error</a>
        <a class="btn btn-default" href="/">Back to Homepage</a>
    </p>
</div>
