<div class="jumbotron error text-center">
    <h1>Whoops !</h1>
    <p>There was<b> a relatively serious error</b>. The magic number is 500.</p>
    <p>The thing is, error 500 is kind of...<i>fatal</i>. If the problem persists, please report it.</p>
    <p class="btns">
        <a href="/" class="btn btn-primary btn-lg">Return to homepage</a>
        <a href="mailto:hello@navihub.net?subject=Error 500 on: <%= request.original_url %>" class="btn btn-default btn-lg">Report this insolence</a>
    </p>
</div>
