<!-- social & contact -->
<table class="social" width="100%">
    <tr>
        <td>

            <!-- column 1 -->
            <table align="left" class="column">
                <tr>
                    <td>

                        <h5 class="">Connect with author:</h5>
                        <p class=""><a href="https://www.facebook.com/petr.nagy" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/petrnagy" class="soc-btn tw">Twitter</a> <a href="https://plus.google.com/+PetrNagyCz" class="soc-btn gp">Google+</a> <a href="http://cz.linkedin.com/in/petrnagy" class="soc-btn" style="background-color: rgb(0,96,168);">LinkedIn</a> <a href="http://petr-nagy.deviantart.com/" class="soc-btn" style="background-color: rgb(2,200,48);">DeviantArt</a> </p>

                    </td>
                </tr>
            </table><!-- /column 1 -->

            <!-- column 2 -->
            <table align="left" class="column">
                <tr>
                    <td>

                        <h5 class="">Contact the author:</h5>

                        <p>Email: <strong><a href="mailto:hello@petrnagy.cz">hello@petrnagy.cz</a></strong><br/>
                        Form: <strong><a href="https://www.petrnagy.cz#contact">petrnagy.cz#contact</a></strong><br/>
                        Web: <strong><a href="https://www.petrnagy.cz">www.petrnagy.cz</a></strong><br/>
                        Blog: <strong><a href="https://blog.petrnagy.cz">blog.petrnagy.cz</a></strong> [cs]<br/>
                        <br/>
                        <a href="https://www.google.com/maps/place/Prague,+Czech+Republic/@50.0593324,14.1854367,10z/data=!3m1!4b1!4m5!3m4!1s0x470b939c0970798b:0x400af0f66164090!8m2!3d50.0755381!4d14.4378005">Prague</a>
                        |
                        <a href="https://www.google.com/maps/place/Pardubice,+Czech+Republic/@50.034607,15.6180858,11z/data=!3m1!4b1!4m5!3m4!1s0x470dc94b239307b5:0x12d59894ccf624ae!8m2!3d50.0343092!4d15.7811994">Pardubice</a>
                        |
                        <a href="https://www.google.com/maps/place/Brno,+Czech+Republic/@49.2019853,16.4378756,11z/data=!3m1!4b1!4m5!3m4!1s0x4712943ac03f5111:0x400af0f6614b1b0!8m2!3d49.1950602!4d16.6068371">Brno</a><br/>
                        <a href="https://www.google.com/maps/place/Czech+Republic/@49.7169794,10.9864209,6z/data=!3m1!4b1!4m5!3m4!1s0x470b948fd7dd8243:0xf8661c75d3db586f!8m2!3d49.817492!4d15.472962">Czech Republic</a>
                    </p>

                    </td>
                </tr>
            </table><!-- /column 2 -->

            <span class="clear"></span>

        </td>
    </tr>
</table><!-- /social & contact -->
