<!-- Callout Panel -->
<p class="callout">
    <!-- Like the app? Found a bug? Have any questions? <a href="http://www.tomatoid.com/feedback">Let me know! &raquo;</a> -->
    Like the app? Found a bug? Have any questions? <%= link_to('Let me know! &raquo;'.html_safe, {controller: 'feedback', host: @host}) %>
</p><!-- /Callout Panel -->
