<p>Easiest choice of all. Just use your Facebook/Twitter/Google account and you will be logged in immediately!</p>
<br />
<ul id="create-account-icons">
  <li>
    <div class="social-btn">
      <a class="btn btn-block btn-sm btn-social btn-facebook" href="<%= signin_with_facebook %>"><i class="fa fa-facebook"></i>Log in in with Facebook</a>
    </div>
  </li>
  <li>
    <div class="social-btn">
      <a class="btn btn-block btn-sm btn-social btn-twitter" href="<%= signin_with_twitter %>"><i class="fa fa-twitter"></i>Log in in with Twitter</a>
    </div>
  </li>
  <li>
    <div class="social-btn">
      <a class="btn btn-block btn-sm btn-social btn-google-plus" href="<%= signin_with_google_oauth2 %>"><i class="fa fa-google-plus"></i>Log in in with Google</a>
    </div>
  </li>
</ul>
<br />
<p class="small">
    Have trouble with one of the buttons? <%= link_to 'Write for an advice!', controller: 'feedback' %>
</p>
