<h1>Account created !</h1>
<p>
    Congratulations, your account <strong><%= @username %></strong> has been successfully created. Yay!
</p>
<p>
    We already logged you in, so dont bother with that.
</p>
<p>
    If you filled in your e-mail address, we also sent you an e-mail message regarding this awesome moment.
</p>

<%= render '/common/back_to_homepage' %>
