<h1>Account management</h1>
<hr>
<h2>Existing account</h2>
<%= render 'account/login_form' %>

<h2>New account</h2>
<%= render 'account/registration_form' %>

<h2>Social login</h2>
<%= render 'account/social_login' %>
