/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require fonts.css
*= require bootswatch.min.css
*= require font-awesome
*= require colorbox-rails
*= require homepage
*= require_tree .
*= require_self
*= stub responsive-email
*/

section#yield { margin-top: 45px; }
.field_with_errors { display: inherit; border-radius: 3px; background-color: #d9534f }
label { color: #525252; font-weight: normal; }
#yield > .alert { max-width: 640px; margin-left: auto; margin-right: auto; }

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 991px) { body > .container { width: 755px; } }
@media only screen and (max-width: 769px) { body > .container { width: auto; } }
@media only screen and (max-height: 320px) { .no-mobile-landscape { display: none !important; } }
