// Place all the styles related to the detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#detail-results .detail-links .link { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; }
#detail-results .detail-body table,
#detail-results .detail-body tbody,
#detail-results .detail-body td { max-width: 280px; }

#detail-results #map_canvas { height: 400px; }

.social-likes { font-weight: normal; font-size: 75%; }
.social-likes .social-likes__widget { border-radius: .25em; }

#detail-results .result-address,
#detail-results .result-geometry,
#detail-results .result-email,
#detail-results .result-phone,
#detail-results .result-link,
#detail-results .result-distance,
#detail-results .result-walking-distance,
#detail-results .result-car-distance,
#detail-results .result-tags,
#detail-results .result-star { padding: 20px 30px 20px 30px; max-height: none; }

// #detail-results .result-tags, #detail-results .result-star { padding-top: 5px; padding-bottom: 10px; }
#detail-results .result-tags .label { font-size: 90%; }

#detail-results .result-email { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; border-left: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-phone { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-link { border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-tags { border-right: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-star { border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white; background-color: #f6f6f6; }

#detail-results .results-icon { padding-right: 30px; }
p.detail-window-p { margin-bottom: 0px;}
#detail-share-via-email input[type="text"] { height: 35px; }
#detail-share-via-email legend { margin-bottom: 15px; }
#detail-share-via-email button { height: 35px; padding: 0px 12px 0px 12px; margin-top: 20px; }
.col-share-via-email { border-right: 1px solid lightgray; }

#detail-results .detail-iframe iframe { width: 100%; border: 0px; height: 300px; overflow: hidden; }
#detail-results .powered-by-icon { max-height: none; max-width: none; position: static; }
#detail-results h3 { color: gray; font-size: 20px; }

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 1199px) {
    #detail-results .col-share-via-email { margin-left: 25%; width: 25%; float: left; }
    #detail-results .col-social-share { width: 25%; float: left; }
    #detail-results .col-search-more { margin-top: 180px; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 25%; }
    #detail-results .col-search-more .col-lg-3 { width: 30%; float: left; }
    #detail-results .col-source { width: 100%; float: left; }
}
@media only screen and (max-width: 991px) {
    #detail-results .col-share-via-email { margin-left: 15%; width: 35%; float: left; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 15%; }
    #detail-results .col-search-more .col-lg-3 { width: 35%; float: left; }
}
@media only screen and (max-width: 768px) {
    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 10%; }
    #detail-results .col-search-more .col-lg-3 { width: 40%; float: left; }
}
@media only screen and (max-width: 640px) {
    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 0px; }
    #detail-results .col-search-more .col-lg-3 { width: 50%; float: left; }
}

@media only screen and (max-width: 590px) {
    #detail-results .col-share-via-email { margin-left: 5%; width: 45%; float: left; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: none; }
    #detail-results .col-search-more .col-lg-3 { width: 100%; float: none; text-align: center; }
    #detail-results .col-search-more .col-lg-3 ul { list-style-type: none; padding-left: 0px; }
}
@media only screen and (max-width: 475px) {
    #detail-results .col-share-via-email { margin-left: 0%; width: 100%; float: none; border-right: none;
        border-bottom: 1px solid lightgray; padding-bottom: 20px; }
    #detail-results .col-social-share { width: 100%; float: none; margin-top: 20px; }
    #detail-results .col-search-more { margin-top: 0px; }
}
