// Place all the styles related to the detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#detail-results .detail-links .link { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; }
#detail-results .detail-body table,
#detail-results .detail-body tbody,
#detail-results .detail-body td { max-width: 280px; }

#detail-results #map_canvas { height: 400px; }

.social-likes { font-weight: normal; font-size: 75%; }
.social-likes .social-likes__widget { border-radius: .25em; }

#detail-results .result-address,
#detail-results .result-geometry,
#detail-results .result-email,
#detail-results .result-phone,
#detail-results .result-link,
#detail-results .result-distance,
#detail-results .result-walking-distance,
#detail-results .result-car-distance,
#detail-results .result-tags,
#detail-results .result-star { padding: 20px 20px 20px 20px; max-height: none; }
#detail-results a.detail-fav-switch:active, #detail-results a.detail-fav-switch:hover,
#detail-results a.detail-fav-switch:focus { color: #D2D21E; }
#detail-results .detail-fav-switch { float: left; color: gray; font-size: 23px; margin-top: 4px; }
#detail-results .detail-fav-switch.exists { color: #D2D21E; }
.result-box a.list-fav-switch:focus { color: gray; }

// #detail-results .result-tags, #detail-results .result-star { padding-top: 5px; padding-bottom: 10px; }
#detail-results .result-tags .label { font-size: 90%; }

#detail-results .result-address { border-right: 2px solid white; border-bottom: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-geometry { border-left: 2px solid white; border-bottom: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-distance { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-walking-distance { border: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-car-distance { border-left: 2px solid white; border-top: 2px solid white; border-bottom: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-email { border: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-phone { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-link { border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-tags { border-top: 2px solid white; border-right: 2px solid white; background-color: #f6f6f6; }
#detail-results .result-star { border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white; background-color: #f6f6f6; }

#detail-results .results-icon {
    float: left;
    font-size: 25px;
    padding: 3px;
    padding-right: 7px;
    color: #777777;
}
#detail-results .results-icon { padding-right: 30px; }

p.detail-window-p { margin-bottom: 0px; vertical-align: middle; display: table-cell; }
@media (min-width: 991px) {
    p.detail-window-p { height: 40px; }
}
#detail-share-via-email input[type="text"] { height: 35px; }
#detail-share-via-email legend { margin-bottom: 15px; }
#detail-share-via-email button { height: 35px; padding: 0px 12px 0px 12px; margin-top: 20px; }
.col-share-via-email { border-right: 1px solid lightgray; }

#detail-results .detail-iframe iframe { width: 100%; border: 0px; height: 300px; overflow: hidden; }
#detail-results .powered-by-icon { max-height: none; max-width: 100%; position: static; }
#detail-results h3 { color: gray; font-size: 20px; }
#detail-results .geometry-wrapper i.unknown-data { font-size: 25px; color: gray; }
#detail-results #detail-make-permalink button.btn-permalink, #detail-results .btn-permalink-created { margin-top: 10px; }
#detail-results .result-distance i.fa-spinner,
#detail-results .result-walking-distance i.fa-spinner,
#detail-results .result-car-distance i.fa-spinner { color: gray; }
.col-stars i.fa-star, .col-stars i.fa-star-half-o, .col-stars i.fa-star-o { font-size: 20px; }
.col-stars i.not-rated { color: gray; cursor: not-allowed; }
.col-stars i.rated { color: #3C3C3C; cursor: not-allowed; }
.col-stars span.not-rated-txt { color: #6D6D6D; }
.col-stars span.rated-txt { color: #6D6D6D; }
.col-permalink { margin-top: 80px; padding-top: 10px; margin-bottom: 13px; color: #6D6D6D; }

.col-social-share { margin-top: 20px; }
#map_loading { display: block; margin-left: auto; margin-right: auto; width: 110px; }


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 1199px) {
    #detail-results .col-share-via-email { margin-left: 25%; width: 25%; float: left; }
    #detail-results .col-social-share { width: 25%; float: left; }
    #detail-results .col-search-more { margin-top: 180px; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 25%; }
    #detail-results .col-search-more .col-lg-3 { width: 30%; float: left; }
    #detail-results .col-source { width: 100%; float: left; }

    #detail-results .col-detail-top { width: 100%; float: left; }
    #detail-results .col-detail-top .col-lg-4 { width: 33.33333333%; }
    #detail-results .col-detail-top .col-lg-5 { width: 41.66666667%; }
    #detail-results .col-detail-top .col-lg-6 { width: 50%; }
    #detail-results .col-detail-top .col-lg-7 { width: 58.33333333%; }

    #detail-results .col-detail-top .col-lg-4,
    #detail-results .col-detail-top .col-lg-5,
    #detail-results .col-detail-top .col-lg-6,
    #detail-results .col-detail-top .col-lg-7 { float: left; height: 102px; display: flex; align-items: center; }
    .hr-line-before-map { margin-top: 446px; }
    #detail-results .col-make-permalink { margin-left: 20%; width: 60%; }
    .col-permalink { margin-top: 300px; }
}
@media only screen and (max-width: 991px) {
    #detail-results .col-share-via-email { margin-left: 15%; width: 35%; float: left; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 15%; }
    #detail-results .col-search-more .col-lg-3 { width: 35%; float: left; }

    #detail-results .col-detail-top { width: 100%; float: none; }

    #detail-results .col-detail-top .col-lg-4,
    #detail-results .col-detail-top .col-lg-5,
    #detail-results .col-detail-top .col-lg-6,
    #detail-results .col-detail-top .col-lg-7 {
        float: none; height: auto; width: 100%; padding: 10px 30px 10px 30px; height: auto; min-height: 85px;
        border-top: 2px solid white; border-bottom: 2px solid white; border-right: none; border-left: none;
    }
    #detail-results .results-icon { width: 50px; }
    .hr-line-before-map { margin-top: auto; }
    #detail-results .col-make-permalink { margin-left: 10%; width: 80%; }
}
@media only screen and (max-width: 768px) {
    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 10%; }
    #detail-results .col-search-more .col-lg-3 { width: 40%; float: left; }
}
@media only screen and (max-width: 640px) {
    #detail-results .col-search-more .col-lg-offset-3 { margin-left: 0px; }
    #detail-results .col-search-more .col-lg-3 { width: 50%; float: left; }
}

@media only screen and (max-width: 590px) {
    #detail-results .col-share-via-email { margin-left: 5%; width: 45%; float: left; }
    #detail-results .col-make-permalink { margin-left: 0%; width: 100%; }

    #detail-results .col-search-more .col-lg-offset-3 { margin-left: none; }
    #detail-results .col-search-more .col-lg-3 { width: 100%; float: none; text-align: center; }
    #detail-results .col-search-more .col-lg-3 ul { list-style-type: none; padding-left: 0px; }
    .col-permalink { margin-top: 175px; }
}
@media only screen and (max-width: 475px) {
    #detail-results .col-share-via-email { margin-left: 0%; width: 100%; float: none; border-right: none;
        border-bottom: 1px solid lightgray; padding-bottom: 20px; }
    #detail-results .col-social-share { width: 100%; float: none; margin-top: 20px; }
    #detail-results .col-search-more { margin-top: 0px; }
}

@media only screen and (max-width: 405px) {
    #detail-results .col-detail-top .col-lg-4,
    #detail-results .col-detail-top .col-lg-5,
    #detail-results .col-detail-top .col-lg-6,
    #detail-results .col-detail-top .col-lg-7 { font-size: 12px; }
    .col-stars span.not-rated-txt, .col-stars span.rated-txt { font-size: 12px; }
}

@media only screen and (max-height: 400px) {
    /* iphone 5s */
    #detail-results #map_canvas { height: 250px; }
}
