#burger-menu, #marker-menu { display: none; }
#burger-menu a i, #marker-menu a i { text-shadow: black 0px 0px 2px; }

#dd-myaccount .social-btn { width: 92%; }
#dd-myaccount .social-btn a { height: 28px; margin: 10px; padding-top: 4px; border-radius: 0px; text-align: left; padding-right: 5px; }
/* only icons for social logins */
#dd-myaccount .social-btn { display: inline-block; width: 16.7px; margin-right: 27.5px; }
#dd-myaccount .social-btn i { border-right: none; position: absolute; left: 7.5px; }
#dd-myaccount i.fa--txt { font-size: 20px; float: left; margin-left: -10px; margin-right: 15px; width: 20px; }

#menu-loc { margin-right: 50px; }
#main-logo { padding-top: 7px; }
#main-logo div { display: inline-block; padding-left: 5px; }
/* TODO: padding-top nefunguje ! */
#main-logo div span { padding-top: 10px; }
#top-location { color: gray; text-transform: none; margin-top: 18px; margin-right: 0px; line-height: 14px; width: 350px; }
/* #top-location .top-location-top .actual { text-overflow: ellipsis; white-space: nowrap; width: 300px; display: inline-block; overflow: hidden; } */
body.logged-in .myacc-dropdown > .dropdown-toggle { max-width: 200px; white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis; }
.navbar-nav > li > .dropdown-menu { margin-top: 1px; }
#myacc-username {  }
#myacc-un { display: none; }
#top-location .top-location-top .actual i { color: lightgray; font-weight: bold; }
#top-location .top-location-top {
    display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;
    margin-bottom: -4px;
}
#appname { text-transform: uppercase; }


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 1199px) {
    .navbar-blog { display: none !important; }
}
@media only screen and (max-width: 991px) {
    #myacc-my { display: none; }
    #main-logo img { width: 35px; height: 35px; }
    #appname { font-size: 75%; }
    #menu-top li > a { padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 10px; }
    #menu-alt li > a { padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 10px; }
    #menu-loc { margin-right: 0px !important; }
    #top-location { margin-top: 12px !important; }
    body > .navbar-fixed-top { height: 50px; min-height: 50px; }
    #dd-myaccount .social-btn a { padding-right: 0px; }
    /* only icons for social logins */
    #dd-myaccount .social-btn {  margin-right: 30px; }
    #dd-myaccount .social-btn i { left: 5px; }
    #dd-myaccount i.fa--txt { margin-left: 5px; }
}
@media only screen and (min-width: 768px) {
    #menu-top, #menu-alt { display: block !important; }
}
@media only screen and (max-width: 767px) {

    #burger-menu { float: right; color: white; font-size: 36px; display: block !important; }
    #appname { font-size: 100%; position: relative; top: 3px; }
    #menu-top, #menu-alt { display: none; }
    #navbar-main { background-color: #545454; float: right; width: 200px; margin-top: -10px; margin-right: -15px;}
    /*#navbar-main.opened { border-bottom: 1px solid #353535; border-left: 1px solid #353535; border-right: 1px solid #353535; }*/
    #menu-top, #menu-alt, #menu-loc { margin: 0px }
    #navbar-main li.dropdown.open { background-color: #32332B; }
    #navbar-main li.dropdown.open li.divider { background-color: black; }
    #menu-loc { position: absolute; top: 0px; left: 200px; }
    #top-location { width: 310px !important; }

    #dd-myaccount .social-btn { width: 30px; }
    #dd-myaccount .social-btn a { padding-right: 10px; }
    #dd-myaccount .social-btn i { left: 10px; }
}
@media only screen and (min-width: 568px) {
    #menu-loc { display: block !important; }
}
@media only screen and (max-width: 567px) {
    #marker-menu { float: right; color: white; font-size: 36px; display: block !important; margin-right: 35px;
    margin-top: 0px; }
    #menu-loc { display: none; }
    #menu-loc { left: 0px !important; top: 50px !important; width: 100% !important; background-color: #2B2B2B; }
    #menu-loc li { padding: 9px; }
    #menu-loc li #top-location { margin-top: 0px !important; }
}
@media only screen and (max-height: 320px) {
    .social-divider, .social-li { display: none; }
}
