// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-input-wrapper {
    background-image: url(search-hq.png); height: 310px; padding-top: 145px; background-position-x: 177px; background-repeat: no-repeat;
    margin-left: 40px; margin-top: 150px; margin-bottom: 100px; background-size: 601px;
}
