// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-input-wrapper {
    /*background-image: url(background/search_1245x620.png);*/ padding-top: 0px; padding-bottom: 155px;
    background-position: center center; background-repeat: no-repeat;
    background-size: 601px; margin-top: -30px;
}
#search-input-wrapper #search-input .col-lg-12 .form-group input[type=text] { float: left; width: 400px; }
#search-input-wrapper form { vertical-align: middle; display: flex; }

body.c-homepage.a-index { background: url(background/homepage.jpg) no-repeat fixed top center; }
body.c-homepage.a-index { background-size: 100% auto; }
body.c-homepage.a-index { background-attachment: scroll; }
#hp-heading { color: white; text-align: center; font-size: 46px; }

.hp-outer { display: table; height: 500px; width: 100%; }
.hp-middle { display: table-cell; vertical-align: middle; }
.hp-inner { margin-left: auto; margin-right: auto; width: auto; }
p.hp-lead { max-width: 520px; margin-left: auto; margin-right: auto; color: gray; font-size: 13px; }
h1.hp-lead-h1 { font-size: 26px; }

@media screen and (max-width: 1000px) {
    h1.hp-lead-h1 { font-size: 20px; }
    p.hp-lead { max-width: 404px; }
}

@media screen and (max-width: 991px) {
    h1.hp-lead-h1 { font-size: 20px; }
    body.c-homepage.a-index { background-size: auto auto; }
}

@media screen and (max-width: 640px) {
    #hp-heading { font-size: 36px; }
}
@media screen and (max-width: 480px) {
    #hp-heading { font-size: 30px; }
}
