@media only screen and (max-width: 567px) {

    #search-results h2 { font-size: 25px; }
    #marker-menu { float: right; color: white; font-size: 36px; display: block !important; margin-right: 35px;
    margin-top: 0px; }
    #menu-loc { display: none; }
    #menu-loc { left: 0px !important; top: 50px !important; width: 100% !important; background-color: #2B2B2B; }
    #menu-loc li { padding: 9px; }
    #menu-loc li #top-location { margin-top: 0px !important; }
    .radius-wrapper, .sort-wrapper { width: 50%; }

}
