@media only screen and (max-width: 1199px) {

    #search-input-wrapper #search-input .col-lg-12 { width: 520px; margin-left: auto; margin-right: auto; }
    #search-form form > [class^=col-lg] { float: left; }


    #search-results > div { text-align: center; }
    #search-results > div:nth-child(1) { text-align: left; }
    #search-results .result-box { text-align: left; }
    .result-box { width: 340px; padding: 0px !important; display: inline-block; }
    .result-box:nth-child(1) { margin-right: 15px; }
    .result-box:nth-child(2) { margin-left: 15px; }
    /* .result-box > div[class$=wrapper] div[class^=col-lg] { float: left; } */
    .result-box .col-lg-7 { width: 58.33333333%; float: left; }
    .result-box .col-lg-5 { width: 41.66666667%; float: left; }
    .result-box .col-lg-4 { width: 33.33333333%; float: left; }
    .result-box .col-lg-12 { width: 100%; float: left; }
    .result-box .col-lg-10 { width: 83.33333333%; float: left; }
    .result-box .col-lg-2 { width: 16.66666667%; float: left; }
    #search-results > .col-lg-12:nth-child(1) { display: inline-block; }
    #search-input-wrapper { background-position-y: 18px; }

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    #search-form input[name='search[term]'] { width: 300px; }
}
