@media only screen and (max-width: 405px) {

    .radius-wrapper, .sort-wrapper { width: 100%; }
    #search-results h2 { font-size: 20px; }
    .search-info { font-size: 13px; }

    .geometry-wrapper, .distance-wrapper, .labels-wrapper { font-size: 12px; }
    .geometry-wrapper i, .distance-wrapper i, .labels-wrapper i { font-size: 20px; position: relative; top: -2px; }
    .geometry-wrapper .label, .distance-wrapper .label, .labels-wrapper .label { font-size: 10px; }
    #search-results h3 { font-size: 20px; }
    .result-box { width: 250px; }
    .result-box .map-wrapper img { width: 250px; height: 73.5294118px }
    .result-box div[class^=col-lg] { padding: 0px; }
    .result-box .result-geometry .results-icon { padding-right: 4px; }
    .result-box .geospace { display: none; }
    .result-box .dots > a { margin-left: -7px; }
    .details-wrapper > div.vendor-logo.col-lg-10 > img { max-width: 175px;}

}
