ul.recent-list { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@media only screen and (min-width: 992px) {
    body.c-search.a-recent #yield, body.c-detail.a-recent #yield, body.c-permalink.a-recent #yield {
        width: 870px; margin-left: auto; margin-right: auto;
    }
}
