// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-box h3 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0px; }
.result-box h3 img { max-height: 20px; max-width: 50px; margin-top: -1px; }
.result-box { min-height: 315px; }

/*.result-box:hover { background-color: #F7F7F7; }*/
/*.result-box.active, .result-detail, .result-box.active:hover { background-color: #FFF2C8; }*/
//.result-box:hover > * { cursor: pointer; }
.result-box .result-geometry {  }
.result-address { border-right: 2px solid white; border-bottom: 2px solid white; max-height: 43px;
  overflow: hidden;
  /*white-space: nowrap;
  text-overflow: ellipsis;*/
}
.result-box a.list-fav-switch:active, .result-box a.list-fav-switch:hover,
.result-box a.list-fav-switch:focus { color: #D2D21E; }
.result-box a.list-fav-switch:visited { color: gray; }

.result-geometry { border-left: 2px solid white; border-bottom: 2px solid white; }
#search-results .result-box .result-geometry i.fa-frown-o,
#search-results .result-box .result-address i.fa-frown-o { color: gray; font-size: 20px; margin-left: 5px; }
.result-distance { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; }
.result-walking-distance { border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white; border-left: 2px solid white; }
.result-car-distance { border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white; }
.result-tags { border-top: 2px solid white; background-color: #f6f6f6; border-bottom: 2px solid white; padding-bottom: 5px;}
.result-tags .label { /*margin-top: 12px;*/ display: inline-block; margin-left: 5px; margin-right: 5px; }
.result-tags .results-icon { position: relative; top: 4px; }
.result-car-distance span, .result-distance span, .result-walking-distance span {
  /*margin-top: 9px;*/
  display: inline-block;
  /*overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;*/
}
.details-wrapper .col-lg-2, .details-wrapper .col-lg-10 { border-top: 2px solid white; }
.btn-detail { font-size: 25px; padding: 0px; }
.result-box .label { font-weight: normal; }
.result-box .unknown-data { padding: 10px; }
.result-box .unknown-data::before { font-size: 20px; color: gray; }
.col-centered { float: none; margin-left: auto; margin-right: auto; }
.smile-big { margin-bottom: 40px; }
.smile-big h1 { font-size: 120px; }
.search-txt_ { margin-top: 100px; margin-bottom: 100px }
.result-box.is-duplicate { color: lightgray; }
.origin-icon, .result-icon { max-width: 25px; max-height: 25px; }

.results-icon {
    float: left;
    /* width: 30px; */
    font-size: 25px;
    padding: 3px;
    padding-right: 7px;
    color: #777777;
  }
.geometry-wrapper div[class^="col-lg"], .distance-wrapper div[class^="col-lg"], .labels-wrapper, .details-wrapper .dots {
background-color: rgb(246,246,246);
}
.dots { height: 40px; }
.dots.col-lg-2 { padding: 0px; }
.dots a.btn-detail { padding-top: 3px; width: 56px; padding-bottom: 9px; display: inline-block; text-align: center; }
.dots a.btn-detail { color: gray; }
.dots a.btn-detail:hover { color: #93c54b; }
.map-wrapper { border-bottom: 1px solid black; }
.distance-wrapper > .col-lg-4, .geometry-wrapper div[class^="col-lg"], .labels-wrapper .col-lg-12 { padding-left: 7px; }
.detail-wrapper { padding-top: 30px; }
.detail-wrapper.active, .result-box.active { background-color: rgb(250, 250, 250); }
.detail-wrapper .map-canvas { height: 380px; }
.detail-wrapper .detail-data .cube-spinner { margin-left: 114px; margin-top: 157px; }

.detail-wrapper .detail-links .link { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 250px; }
.detail-wrapper .detail-body table,
.detail-wrapper .detail-body tbody,
.detail-wrapper .detail-body td { max-width: 250px; }

.result-origin-icon { height: 31px; float: right; position: relative; top: -10px; }
.link-white { color: white; }
.link-white:hover { color: white; }
.search-start { min-height: 250px; }
.result-address, .result-geometry, .result-distance, .result-walking-distance, .result-car-distance, .result-tags {
  display: flex; align-items: center;
}
.details-wrapper ul.dropdown-menu { left: 61px; top: -238px; border-top-right-radius: 0; }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu { left: 159px; top: 0px; }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i { width: 18px; }
.details-wrapper ul.dropdown-menu i { width: 18px; }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-envelope-o { color: gray; }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-sticky-note { color: rgb(43,181,78); }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-facebook-official { color: rgb(53,76,140); }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-twitter { color: rgb(70,154,233); }
.details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-google-plus { color: rgb(203,40,38); }

.detail-fav-switch { float: left; color: gray; font-size: 23px; margin-top: 4px; }
.detail-fav-switch i.fa.fa-star-o:hover { color: #D2D21E; }
.detail-fav-switch.exists { color: #D2D21E; }

.powered-by-icon { position: absolute; bottom: 0; right: 0; }
/* ~~~~~~~ */


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.permalink-form textarea { width: 100%; height: 50px; /*margin: 10px;*/ }
.send-via-email-form input[type=text] { width: 100%; margin: 0px; }
.send-via-email-form input[type=submit] { margin-top: 12px; line-height: 14px; }
.send-via-email-msg { height: 20px; }
.send-via-email-msg.err { color: red; }
.send-via-email-msg.ok { color: green; }

#search-results .text-search p { text-align: center; }
.send-via-email-form > input[type=text] { outline: none; }
// .send-via-email-form > input[type=text]:focus { border-color: transparent; border: 1px solid rgb(173, 173, 173); }

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 1199px) {
    #search-input-wrapper #search-input .col-lg-12 { width: 520px; margin-left: auto; margin-right: auto; }
    #search-form form > [class^=col-lg] { float: left; }

    #search-results > div { text-align: center; }
    #search-results > div:nth-child(1) { text-align: left; }
    #search-results .result-box { text-align: left; }
    .result-box { width: 340px; padding: 0px !important; display: inline-block; }
    .result-box:nth-child(1) { margin-right: 15px; }
    .result-box:nth-child(2) { margin-left: 15px; }
    /* .result-box > div[class$=wrapper] div[class^=col-lg] { float: left; } */
    .result-box .col-lg-7 { width: 58.33333333%; float: left; }
    .result-box .col-lg-5 { width: 41.66666667%; float: left; }
    .result-box .col-lg-4 { width: 33.33333333%; float: left; }
    .result-box .col-lg-12 { width: 100%; float: left; }
    .result-box .col-lg-10 { width: 83.33333333%; float: left; }
    .result-box .col-lg-2 { width: 16.66666667%; float: left; }
    #search-results > .col-lg-12:nth-child(1) { display: inline-block; }
    #search-input-wrapper { background-position-y: 18px; }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    #search-form input[name='search[term]'] { width: 300px; }
}
@media only screen and (max-width: 991px) {
    .result-box:nth-child(1) { margin-right: 5px; }
    .result-box:nth-child(2) { margin-left: 5px; }
    .search-start { background: none !important; }
}
@media only screen and (max-width: 991px) and (min-width: 701px) {
    #search-form input[name='search[term]'] { width: 200px !important; }
}
@media only screen and (max-width: 700px) {
    #search-form div[class^=col-lg]:nth-child(1) { display: block; width: 100%; }
    input [name='search[term]'] { width: 100% !important; }

    .search-btn-wrapper { float: right; margin-right: 15px; }
    .radius-wrapper, .sort-wrapper { width: 33%; }
    .result-box { margin-left: 10px !important; margin-right: 10px !important; }
    .col-hr { margin-top: 130px; }
}
@media only screen and (max-width: 769px) and (min-width: 701px) {
    .result-box { margin-left: 100px !important; margin-right: 100px !important; }
}
@media only screen and (max-width: 639px) {
    #search-input-wrapper #search-input .col-lg-12 { width: 100% !important; }
    #search-input-wrapper #search-input .col-lg-12 input[type=text] { width: 100% !important; }
    #search-input-wrapper #search-input .col-lg-12 button { margin-top: 10px; }
    #search-input-wrapper { background-image: none; }
}
@media only screen and (max-width: 567px) {
    #search-results h2 { font-size: 25px; }
    .radius-wrapper, .sort-wrapper { width: 50%; }
    .col-hr { margin-top: 180px; }
}
@media only screen and (max-width: 450px) {
    .details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu { left: 130px; }
}

@media only screen and (max-width: 405px) {
    .radius-wrapper, .sort-wrapper { width: 100%; }
    #search-results h2 { font-size: 20px; }
    .search-info { font-size: 13px; }
    .geometry-wrapper, .distance-wrapper, .labels-wrapper { font-size: 12px; }
    #search-results .geometry-wrapper i, #search-results .distance-wrapper i, #search-results .labels-wrapper i { font-size: 20px; position: relative; top: -2px; }
    .geometry-wrapper .label, .distance-wrapper .label, .labels-wrapper .label { font-size: 10px; }
    #search-results h3 { font-size: 20px; }
    .result-box { width: 250px; }
    .result-box .map-wrapper img { width: 250px; height: 73.5294118px }
    .result-box div[class^=col-lg] { padding: 0px; }
    .result-box .result-geometry .results-icon { padding-right: 4px; }
    .result-box .geospace { display: none; }
    .result-box .dots > a { margin-left: -7px; }
    .details-wrapper > div.vendor-logo.col-lg-10 > img { max-width: 170px; }
    .col-hr { margin-top: 240px; }
    #search-results .result-box .dropdown-menu li a { font-size: 9px; }
    .details-wrapper ul.dropdown-menu { left: 44px; }
    .details-wrapper ul.dropdown-menu .dropdown-submenu .dropdown-menu { left: 120px; }
    // #search-results .result-box .dropdown-menu li, #search-results .result-box .dropdown-menu li > a,
    // #search-results .result-box .dropdown-menu { max-width: 120px; }
}

@media only screen and (max-height: 600px) {
    #search-results { min-height: 0px; }
}

@media only screen and (max-height: 500px) {
    #search-input-wrapper { background: none; }
}
