// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-box  h2.h3 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0px; }
.result-box  h2.h3 a.namelink, .result-box  h2.h3 a.namelink:visited,
.result-box  h2.h3 a.namelink:active, .result-box  h2.h3 a.namelink:hover { color: rgb(62, 63, 58); text-decoration: none; }
// .result-box  h2.h3 a.namelink[href]:hover { color: gray; }
.results-near { color: #C7C7C7 }
.result-col { float: left; padding-right: 10px; }
.result-col h2 { margin-top: 0px; }
.result-col-first { width: 315px; margin-right: 10px; border-right: 1px solid #f8f5f0; }
.result-col-second { width: 775px; margin-left: 10px; }
.result-subcol { display: inline-block; }
.result-divider { padding-top: 0px; padding-bottom: 5px; }
.result-divider > hr { max-width: 100%; }
div.inline { display: inline; }
.result-box a.list-fav-switch:active, .result-box a.list-fav-switch:hover,
.result-box a.list-fav-switch:focus { color: #D2D21E; }
.load-more { margin-bottom: 20px; }
.search-info { margin-bottom: 20px; }

// #search-results .result-box .result-geometry i.fa-frown-o,
#search-results .result-box .result-address i.fa-frown-o { color: gray; font-size: 20px; margin-left: 5px; }
.result-tags .label { /*margin-top: 12px;*/ display: inline-block; margin-left: 5px; margin-right: 5px; }
.result-tags .results-icon { position: relative; top: 4px; }
.result-car-distance span, .result-distance span, .result-walking-distance span { display: inline-block; }
#search-results .result-walking-distance, #search-results .result-car-distance { margin-left: 20px; }
.result-row-icons .col-lg-2, .result-row-icons .col-lg-10 { border-top: 2px solid white; }
.result-box .label { font-weight: normal; }
.result-box .unknown-data { padding: 10px; }
.result-box .unknown-data::before { font-size: 20px; color: gray; }
.col-centered { float: none; margin-left: auto; margin-right: auto; }
.smile-big { margin-bottom: 40px; }
.smile-big h1 { font-size: 120px; }
.search-txt_ { margin-top: 100px; margin-bottom: 100px }
.result-box.is-duplicate { color: lightgray; }
.origin-icon, .result-icon { max-width: 25px; max-height: 25px; }

#search-results .results-icon {
    float: left;
    font-size: 20px;
    padding: 3px;
    padding-right: 7px;
    color: #777777;
    position: relative;
    top: -7px;
}

.dots { height: 40px; }
.dots.col-lg-2 { padding: 0px; }
.location-wrapper, .gps-wrapper { display: inline-block; }
.gps-wrapper { margin-left: 30px; }

.detail-wrapper { padding-top: 30px; }
.detail-wrapper.active, .result-box.active { background-color: rgb(250, 250, 250); }
.detail-wrapper .map-canvas { height: 380px; }
.detail-wrapper .detail-data .cube-spinner { margin-left: 114px; margin-top: 157px; }

.detail-wrapper .detail-links .link { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 250px; }
.detail-wrapper .detail-body table,
.detail-wrapper .detail-body tbody,
.detail-wrapper .detail-body td { max-width: 250px; }

.result-origin-icon { height: 31px; float: right; position: relative; top: -10px; }
.link-white { color: white; }
.link-white:hover { color: white; }
.search-start { min-height: 250px; }
.result-row-icons ul.dropdown-menu { left: 705px; top: 138px; border-top-right-radius: 0; }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu { left: 159px; top: 0px; }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i { width: 18px; }
.result-row-icons ul.dropdown-menu i { width: 18px; }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-envelope-o { color: gray; }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-sticky-note { color: rgb(43,181,78); }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-facebook-official { color: rgb(53,76,140); }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-twitter { color: rgb(70,154,233); }
.result-row-icons ul.dropdown-menu .dropdown-submenu .dropdown-menu i.fa-google-plus { color: rgb(203,40,38); }

a.rihref { color: lightgray; font-size: 12px; margin-top: 4px; margin-right: 10px; display: inline-block; }
.result-icons > a:nth-child(1) { margin-left: -26px; }
a.rihref > i { font-size: 14px; }
.result-box:hover .result-icons a.rihref { color: gray; }
.result-box:hover .result-icons a.rihref:hover { color: black !important; text-decoration: none; }
.btn-detail { position: relative; right: -25px; }
.dots a.btn-detail:hover { color: #93c54b; }
#search-results .detail-fav-switch {  }
#search-results .detail-fav-switch i.fa.fa-star-o:hover { color: #D2D21E !important; }
#search-results .detail-fav-switch.exists { color: #D2D21E !important; }
.result-row { height: 30px; }

.powered-by-icon { position: absolute; bottom: 0; right: 0; }
/* ~~~~~~~ */


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.permalink-form textarea { width: 100%; height: 50px; /*margin: 10px;*/ }
.send-via-email-form input[type=text] { width: 100%; margin: 0px; }
.send-via-email-form input[type=submit] { margin-top: 12px; line-height: 14px; }
.send-via-email-msg { height: 20px; }
.send-via-email-msg.err { color: red; }
.send-via-email-msg.ok { color: green; }

#search-results .text-search p { text-align: center; }
.send-via-email-form > input[type=text] { outline: none; }
// .send-via-email-form > input[type=text]:focus { border-color: transparent; border: 1px solid rgb(173, 173, 173); }

.list-open-detail-eye, .list-show-route {
    color: #F3F3F3; font-size: 24px; position: absolute; right: 15px; top: 13px; display: inline;
}
.result-box:hover .list-open-detail-eye, .list-open-detail-eye:active, .list-open-detail-eye:focus {
    color: gray;
}

.list-open-detail-eye:hover, .list-show-route:hover { color: black !important; }

.result-box .list-visit-website:hover,
.result-box .list-send-via-email:hover,
.result-box .list-get-permalink:hover {
    cursor: pointer;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ MEDIA QUERIES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

@media only screen and (max-width: 1199px) {
    #search-input-wrapper #search-input .col-lg-12 { width: 520px; margin-left: auto; margin-right: auto; }
    #search-form form > [class^=col-lg] { float: left; }

    #search-results > div { text-align: center; }
    #search-results > div:nth-child(1):not(.zero-results) { text-align: left; }
    #search-results .result-box { text-align: left; }
    // .result-box { width: 340px; padding: 0px !important; display: inline-block; }
    // .result-box:nth-child(1) { margin-right: 15px; }
    /* .result-box > div[class$=wrapper] div[class^=col-lg] { float: left; } */
    .result-box .col-lg-7 { width: 58.33333333%; float: left; }
    .result-box .col-lg-5 { width: 41.66666667%; float: left; }
    .result-box .col-lg-4 { width: 33.33333333%; float: left; }
    .result-box .col-lg-12 { width: 100%; float: left; }
    .result-box .col-lg-10 { width: 83.33333333%; float: left; }
    .result-box .col-lg-2 { width: 16.66666667%; float: left; }
    #search-results > .col-lg-12:nth-child(1) { display: inline-block; }
    #search-input-wrapper { background-position-y: 18px; }
    .list-open-detail-eye, .list-open-detail-eye:active, .list-open-detail-eye:focus { right: 0; }
    .result-col-second { width: 560px; }
    .result-box { height: 180px; }
    .result-row-icons { position: absolute; left: 40px; bottom: -5px; margin-left: 170px; }
    .result-row { height: 35px; }
    .result-row-icons ul.dropdown-menu { left: 420px; top: 18px; }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    #search-form input[name='search[term]'] { width: 300px; }
}
@media only screen and (max-width: 991px) {
    .result-box:nth-child(1) { margin-right: 5px; }
    .result-box:nth-child(2) { margin-left: 5px; }
    .search-start { background: none !important; }
    .list-open-detail-eye, .list-open-detail-eye:active, .result-box:hover .list-open-detail-eye,
    .list-open-detail-eye:focus { color: gray; }
    .result-col-first { display: none; }
    .result-row-icons { position: initial; margin-left: 30px; }
    .result-col-second { width: 100%; }
    .result-row-icons ul.dropdown-menu { left: 474px; top: 0px; }
}
@media only screen and (max-width: 991px) and (min-width: 701px) {
    #search-form input[name='search[term]'] { width: 200px !important; }
}
@media only screen and (max-width: 768px) {
    .result-row-icons { text-align: center; }
}
@media only screen and (max-width: 768px) and (min-width: 701px) {
    .result-row-tags { height: 40px; }
    #search-form .term-wrapper { padding-right: 5px; }
    #search-form .radius-wrapper { padding-left: 5px; padding-right: 5px; }
    #search-form .sort-wrapper { padding-left: 5px; }
}

@media only screen and (max-width: 700px) {
    #search-form div[class^=col-lg]:nth-child(1) { display: block; width: 100%; }
    input [name='search[term]'] { width: 100% !important; }

    .search-btn-wrapper { float: right; margin-right: 15px; }
    .radius-wrapper, .sort-wrapper { width: 33%; }
    .col-hr { margin-top: 130px; }
    .result-row-icons ul.dropdown-menu { left: 33%; top: 0px; }
}
// @media only screen and (max-width: 769px) and (min-width: 701px) {
//     .result-box { margin-left: 100px !important; margin-right: 100px !important; }
// }
@media only screen and (max-width: 639px) {
    #search-input-wrapper #search-input .col-lg-12 { width: 100% !important; }
    #search-input-wrapper #search-input .col-lg-12 input[type=text] { width: 100% !important; }
    #search-input-wrapper #search-input .col-lg-12 button { margin-top: 10px; }
    #search-input-wrapper { background-image: none; }
    .list-open-detail-eye, .list-open-detail-eye:active, .result-box:hover .list-open-detail-eye,
    .list-open-detail-eye:focus { color: black; }
    .gps-wrapper { margin-left: 0px; }
}
@media only screen and (max-width: 567px) {
    #search-results h1 { font-size: 25px; }
    .radius-wrapper, .sort-wrapper { width: 50%; }
    .col-hr { margin-top: 180px; }
}
@media only screen and (max-width: 500px) {
    .gps-wrapper { display: none; }
    .result-row { height: 30px; }
    .result-row-tags { height: auto; }
    .result-row-icons { margin-top: 8px; }
    .result-car-distance, .result-walking-distance { margin-left: 5px !important; }
    .result-icon-inner-txt { display: none; }
    .labels-wrapper .label { font-size: 11px; background-color: transparent; color: gray; padding: 0px 5px 0px 0px; }
    .labels-wrapper .label::after { content: ","; }
    .labels-wrapper div a:last-of-type .label::after { content: ""; }
    .result-box { padding: 0px; }
    .result-row-icons { margin-bottom: 20px; }
    .result-icons > a i.fa, .result-icons > div > a i.fa { font-size: 20px; }
    .result-box { min-height: 140px; height: auto; }
    .result-divider { display: none; }
    .result-row-icons ul.dropdown-menu { left: 33%; top: -30px; }
}

@media only screen and (max-width: 405px) {
    .radius-wrapper, .sort-wrapper { width: 100%; }
    #search-results h1 { font-size: 20px; }
    .search-info { font-size: 13px; }
    .geometry-wrapper, .distance-wrapper, .labels-wrapper { font-size: 12px; }

    #search-results  h2.h3 { font-size: 20px; }
    .result-box div[class^=col-lg] { padding: 0px; }
    // .result-box .result-geometry .results-icon { padding-right: 4px; }
    .result-box .geospace { display: none; }
    .result-box .dots > a { margin-left: -7px; }
    .result-row-icons > div.vendor-logo.col-lg-10 > img { max-width: 170px; }
    .col-hr { margin-top: 240px; }
    // #search-results .result-box .dropdown-menu li a { font-size: 9px; }
    // .result-row-icons ul.dropdown-menu { left: 44px; }
    // #search-results .result-box .dropdown-menu li, #search-results .result-box .dropdown-menu li > a,
    // #search-results .result-box .dropdown-menu { max-width: 120px; }
    // #search-results .result-box h2 { max-width: 234px; }
}

@media only screen and (max-height: 600px) {
    #search-results { min-height: 0px; }
}

@media only screen and (max-height: 500px) {
    #search-input-wrapper { background: none; }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ SAFARI 9.0+ ONLY ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
body.isSafari .geometry-wrapper .result-address .results-icon { padding-right: 16px; }
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ OPERA ONLY ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
body.isOpera .geometry-wrapper .result-address .results-icon { padding-right: 16px; }
