// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#settings-location-canvas { width: 100%; height: 450px; margin-bottom: 25px; }
#settings-location-autocomplete { width: 80%; margin-top: 5px; }