<h1>Feedback</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-success form-success-popup">Your message has been successfully saved, thank you!</div>
  </div>
</div>
<%= render '/common/back_to_homepage' %>
