<h1>Feedback</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-success form-success-popup">Your message has been successfully saved, thank you!</div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <p>
          <%= fa_icon 'arrow-left' %> <%= link_to 'Back to homepage', controller: 'homepage' %>
      </p>
    </div>
</div>
