<!-- Loader -->
<div class="loader-bg" id="loader-bg" style="display: none;">
</div>
<div class="loader-wrapper" id="loader-wrapper" style="display: none;">
    <div class="loader" id="loader">
        <div id="img1" class="loader-img"></div>
        <div id="img2" class="loader-img"></div>
        <div id="img3" class="loader-img"></div>
        <div id="img4" class="loader-img"></div>
        <div id="img5" class="loader-img"></div>
    </div>
    <p>Just a second ...</p>
</div>
