<!-- noscript #2 -->
<noscript>
    <div>
        <p class="h1">JavaScript</p>
        <p>We're sorry! This site requires JavaScript enabled to work properly.</p>
        <div class="form-group"><a target="blank" href="https://www.google.com/search?q=how+to+enable+javascript" class="btn btn-warning">How to enable Javascript</a></div>
    </div>
</noscript>
